php_value  default_charset     "utf-8"
php_value  max_execution_time  30
php_value  memory_limit        128M
php_flag   file_uploads        on
php_value  post_max_size       32M
php_value  upload_max_filesize 32M
php_value  error_reporting     -1
php_flag   display_errors      off
php_flag   log_errors          on
php_value  date.timezone       "America/Mexico_City"

#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule . public/index.php [L]

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|svg|ico)$
    RewriteRule . public/index.php [L]
</IfModule>

# The paths for the following entries must match the paths on your computer
ErrorDocument 404 /src/pages/page-not-found.php
ErrorDocument 500 /public/error.php
