@-ms-viewport{ width: device-width;}
@-moz-viewport{ width: device-width;}
@-o-viewport{ width: device-width;}
@-webkit-viewport{ width: device-width;}

/***************************************************************************/
/***************************************************************************/
/**************************** CSS VARIABLES ********************************/
/***************************************************************************/
/***************************************************************************/

:root{

    /**** VERTICAL SPACERS ****/
    --verticalSpacerMinHeight: 10px;
    --verticalSpacerRegularHeight: 42px;

    /**** SIGN UP DIALOG VARIABLES ****/
    --signUpDialogWidth: 450px;
    --signUpDialogHeight: 630px;
    --signUpDialogCloseMarkSvgSqSize: calc(var(--signUpDialogHeight) * 0.028);

    /**** CONFIRMATION EMAIL DIALOG VARIABLES ****/
    --confirmationEmailDialogWidth: 450px;
    --confirmationEmailDialogHeight: 355px;
    --confirmationEmailSvgSqSize: calc(var(--confirmationEmailDialogHeight) * 0.254);
    --confirmationEmailCloseMarkSvgSqSize: calc(var(--confirmationEmailDialogHeight) * 0.05);

    /**** FORGOT PASSWORD DIALOG ****/
    --forgotPwdDialogWidth: 400px;
    --forgotPwdDialogHeight: 605px;
    --forgotPwdDialogIconSqSize: calc(var(--forgotPwdDialogHeight) * 0.2512);
    --forgotPwdDialogCloseMarkSvgSqSize: calc(var(--forgotPwdDialogHeight) * 0.0264);

    /**** VERIFY EMAIL DIALOG ****/
    --verifyEmailDialogWidth: var(--forgotPwdDialogWidth);
    --verifyEmailDialogHeight: var(--forgotPwdDialogHeight);
    --verifyEmailDialogIconSqSize: var(--forgotPwdDialogIconSqSize);
    --verifyEmailDialogCloseMarkSvgSqSize: var(--forgotPwdDialogCloseMarkSvgSqSize);

    /**** CREATE NEW PASSWORD DIALOG ****/
    --createNewPwdDialogWidth: var(--verifyEmailDialogWidth);
    --createNewPwdDialogHeight: var(--verifyEmailDialogHeight);
    --createNewPwdDialogIconSqSize: var(--verifyEmailDialogIconSqSize);
    --createNewPwdDialogCloseMarkSvgSqSize: var(--verifyEmailDialogCloseMarkSvgSqSize);

    /**** PRIVACY POLICY AND TERMS/CONDITIONS DIALOG VARIABLES ****/
    --privacyTermsDialogWidth: 500px;
    --privacyTermsDialogHeight: 2000px;
    
    --privacyTermsBlockHeight: calc(var(--privacyTermsDialogHeight) * 0.963);
    --privacyTermsDialogCloseMarkSqSize: calc(var(--privacyTermsDialogHeight) * 0.0137);

    --privacyTermsCloseButtonWidth: calc(var(--privacyTermsDialogHeight) * 0.05);
    --privacyTermsCloseButtonHeight: calc(var(--privacyTermsDialogHeight) * 0.015);

    /**** ON MOBILE PORTRAIT MODE FLAG ****/
    --onMobilePortraitMode: 0;
}

/***************************************************************************/
/***************************************************************************/
/************************* GENERAL UTILITIES *******************************/
/***************************************************************************/
/***************************************************************************/

/***************************************************************************/
/********************** TRANSITION EFFECT STATES ***************************/
/***************************************************************************/

.standByState{
    /* Show dialog centered in window */
    opacity: 1;
    left: calc(50vw - (var(--dialogWidth) / 2));
}

.fadeableOut{
    /* Set dialog ready to be fade out from 
     * current position */
    opacity: 1; 
}

.fadeOutOnPlace{
    /* Fade-out to left by 10vw units */
    opacity: 0;
    transition: opacity var(--fadeOutTransTime) ease-in-out;
}

.fadeOutLeft_10vw{
    /* Fade-out to left by 10vw units */
    opacity: 0;
    transform: translateX(-10vw);
    transition: transform var(--fadeOutTransTime) ease-in-out,
                opacity var(--fadeOutTransTime) ease-in-out;
}

.fadeOutRight_10vw{
    /* Fade-out to right by 10vw units */
    opacity: 0;
    transform: translateX(10vw);
    transition: transform var(--fadeOutTransTime) ease-in-out,
                opacity var(--fadeOutTransTime) ease-in-out;
}

.fadeOutLeft_20vw{
    /* Fade-out to left by 20vw units */
    opacity: 0;
    transform: translateX(-20vw);
    transition: transform var(--fadeOutTransTime) ease-in-out,
                opacity var(--fadeOutTransTime) ease-in-out;
}

.fadeOutRight_20vw{
    /* Fade-out to right by 20vw units */
    opacity: 0;
    transform: translateX(20vw);
    transition: transform var(--fadeOutTransTime) ease-in-out,
                opacity var(--fadeOutTransTime) ease-in-out;
}

.fadeableInOnPlace{
    /* Set dialog ready to be fade in on its place */
    opacity: 0;
}

.fadeInOnPlace{
    /* Fade-in on place */
    opacity: 1;
    transition: opacity var(--opacityTransTime) ease-in-out;
}

.fadeableInToRight_10vw{
    /* Set dialog ready to fade-in from left to right
     * by 10vw units */
    opacity: 0;
    transform: translateX(-10vw);
}

.fadeableInToLeft_10vw{
    /* Set dialog ready to fade-in from right to left
     * by 10vw units */
    opacity: 0;
    transform: translateX(10vw);
}

.fadeableInToRight_20vw{
    /* Set dialog ready to fade-in from left to right 
     * by 20vw units */
    opacity: 0;
    transform: translateX(-20vw);
}

.fadeableInToLeft_20vw{
    /* Set dialog ready to fade-in from right to left
     * by 20vw units */
    opacity: 0;
    transform: translateX(20vw);
}

.fadeIn{
    /* Fade-in to initial position */
    opacity: 1;
    transform: translateX(0vw);
    transition: transform var(--fadeInTransTime) ease-in-out,
                opacity var(--fadeInTransTime) ease-in-out;
}

.fadeableInToTopAndScale_10vh{
    /* Set dialog ready to be fade-in starting off
     * from center of window */
    opacity: 0;
    transform: translateY(10vh) scale(0.5);
}

.fadeInToTopAndScale{
    /* Trigger novelty fade-in effect on dialog */
    opacity: 1;
    transform: translateY(0vh) scale(1);
    transition: transform var(--fadeInTransTime) cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.fadeableOutToTopAndScale{
    /* Set dialog ready to be fade-in starting off
     * from center of window */
    opacity: 1;
    transform: scale(1);
}

.fadeOutToTopAndScale_50vh{
    /* Prepare dialog to fade-in in a novelty way on its place */
    opacity: 0;
    transform: translateY(-350vh) scale(0.5);
    transition: opacity var(--fadeOutTransTime) ease-in-out,	
		transform 1000ms ease-in-out;
}


/***************************************************************************/
/***************************************************************************/
/**************************** GLOBAL CFGS **********************************/
/***************************************************************************/
/***************************************************************************/

*{
    margin: 0px;
    padding: 0px;       
}

html, body{
    width: 100%;
    height: 100%;
}

/***************************************************************************/
/***************************************************************************/
/**************************** SIGN IN PAGE *********************************/
/***************************************************************************/
/***************************************************************************/

.signInPage{
    /* Size constraints */
    width: 100%;
    height: 100%;        
}

.signInPage .signInImgDiv{
    /* Position constraints */
    left: 0px;
    top: 0px;       
    
    /* Size constraints */
    height: 100%;    
    width: auto;
    
    /* Background definition */
    background-image: url(../../img/HRparser_LoginImg.jpg);                  
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 450px;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/***************************************************************************/
/**************************** SIGN IN DIALOG *******************************/
/***************************************************************************/

.signInDialog{
    /* Position constraints */
    right: 0px;
    top: 0px;    
    position: absolute;
    float: left;

    /* Size constraints */
    width: 450px;
    height: 100%;
    
    /* Background color */
    background: white;
    
    /* Only allow scrolling in this dialog */
    overflow: auto;
}

.signInDialog .logoDiv{  
    /* Set top/bottom separations from logo */  
    margin-top: 60px;
    margin-bottom: 70px; 
    
    /* Align to the center */
    text-align: center;
}

.signInDialog .logoDiv img{
    /* Set logo size */
    width: 70%;
    height: 100%;
    max-width: 100%;
}

.signInDialog .signInFormDiv{
    /* Size constraints */
    width: auto;
    height: fit-content;  

    /* Set margins for everything inside signUpFormDiv */
    margin-left: 10%;  
    margin-right: 10%;    
}

.signInFormDiv p{    
    /* Bottom separator from indication text */    
    margin-bottom: 20px;

    /* Text configuration */
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.5px;
    color: rgb(95, 91, 91);
}

.signInFormDiv .signInForm{
    /* Size constraints */ 
    width: 100%;
    height: fit-content;    

    /* Bottom separator from signUpForm */    
    margin-bottom: 50px;
    
    /* Use flex box to position children */
    display: flex;
    flex-direction: column;
}

.signInForm .inputsDiv{
    /* Size constraints */
    width: 100%;
    height: 70px;

    /* Use flexbox to separate lineEdit inputs */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Bottom separator from inputsDiv */
    margin-bottom: 10px;
}

#signInEmail, #signInPwd{
    /* Height constraint */
    height: 25px;

    /* Text configuration */
    text-indent: 5px;
    font-family: Arial, Helvetica, sans-serif;  

    /* Remove outline */
    outline: none;  
}

#signInEmail:focus, #signInPwd:focus{
    /* Configure outline when focus */
    border: 2px solid rgb(0, 0, 0);
}

.signInForm .signInHelpDiv{
    /* Use flex box to distribute error message and forgotPwd link */
    display: flex;
    justify-content: space-between;
}

.signInHelpDiv p{
    /* Width to fit text */
    width: fit-content;  
    
    /* Text configuration */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    color: red;

    /* Bottom separator */
    margin-bottom: 30px;

    /* Align to the left in flex box */
    align-self: flex-start;
}

.signInHelpDiv #forgotPwdLink{  
    /* Width to fit text */
    width: fit-content;    

    /* Text configuration */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;

    /* Bottom separator */
    margin-bottom: 30px;

    /* Align to the right in flex box */
    align-self: flex-end;
}

#signInBtn{
    /* Size constraints */
    height: 35px;
    width: 110px;

    /* Remove border */
    border-radius: 0px;
    border: none;

    /* Color and bottom margin (for better looking at scrolling) */
    background-color: rgb(47, 180, 80);
    margin-bottom: 40px;

    /* Text configuration */
    font-size: 13px;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
    color: #fff;

    /* Button is clickable */
    cursor: pointer;
}

.signUpDiv{
    /* Use flex box to distribute children */
    display: flex;
    justify-content: center;

    /* Bottom separator */
    margin-bottom: 30px;
}

.signUpDiv p, span{
    /* Width to fit text */
    width: fit-content;

    /* Text configuration */
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8em;
    white-space: pre;

    /* Remove blue highlight on link when clicked */
    -webkit-tap-highlight-color: transparent;
}

.emulatedLink{
    /* Format all emulated "links" that show a new page
     * This configuration applies for all "links" for SignInPage/SignUpPage/TermPage 
     * Each "link" must be configurated individually */
    
    /* Text configuration */
    text-decoration: underline;
    color: rgb(105, 26, 185);

    /* Cursor pointer */
    cursor: pointer;
}

/***************************************************************************/
/***************************************************************************/
/**************************** SIGN UP PAGE *********************************/
/***************************************************************************/
/***************************************************************************/

.signUpPage{    
    /* Position constraints */
    top: 0%;
    left: 0%;      
    position: fixed;

    /* Size constraints */
    width: 100%;
    height: 100%;        
    
    /* Display on top of SignInPage */
    z-index: 1;
    
    /* Blur the SignInPage background */
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);    
    background-size: cover;    

    /* Disable page for now until requested */
    overflow: hidden; 

    /* Display mode is handled at html based on a php condition */   
    /*display: none;*/
}

.signUpScrollableDiv{
    /* Position constraint */
    top: 0px;
    left: 0px;
    position: absolute;

    /* Size constraint */
    width: 100%;
    height: 100%;
    
    /* This div is a placeholder to allow scrolling without making the address bar
     * to be hidden in mobile devices an impacting the user interface appearance */
    background: transparent;

    /* Scrollable item */
    overflow: auto;
}

/* Top/bottom vertical spacers apply for both SignUpDialog and TermsDialog */
.signUpVerticalSpacer{
    /* Use vertical spacers to vertically center the signUpDialog */
    min-height: var(--verticalSpacerMinHeight);
    width: 100%;

    /* Display mode  */
    display: block;
}

/***************************************************************************/
/*************************** SIGN UP DIALOG ********************************/
/***************************************************************************/

.signUpScrollableDiv #signUpDialog{    
    /* Size constraints*/    
    width: var(--signUpDialogWidth);
    height: var(--signUpDialogHeight);
    box-sizing: border-box;

    /* Center div */    
    position: relative;
    display: none;

    /* Border details */
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    
    /* Shadow.  x   y  blur radius of propagation, color. */
    box-shadow: 5px 5px 11px -3px rgba(14, 2, 2, 0.733);

    /* Background color */
    background-color: rgba(255, 255, 255, 1);
}

#signUpDialogCloseMarkSvg{  
    /* Position div */
    margin-top: calc(var(--signUpDialogHeight) * 0.032);
    margin-left: calc(var(--signUpDialogWidth) * 0.035);

    /* Size constraints */
    width: var(--signUpDialogCloseMarkSvgSqSize);
    height: var(--signUpDialogCloseMarkSvgSqSize);

    /* Set svg as background image */
    background-image: url("../../img/chevron-left-solid.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Element is clickable */
    cursor: pointer;
}

#signUpDialog .logoDiv{    
    /* Set top/bottom separations from logo */
    margin-top: calc(var(--signUpDialogHeight) * 0.0222);
    margin-bottom: 30px;  

    /* Align to the center */
    text-align: center;
}

#signUpDialog .logoDiv img{
    /* Set logo size */
    width: 55%;
    height: 100%;
    max-width: 100%;    
}

#signUpDialog #signUpFormDiv{
    /* Size constraints */
    width: calc(var(--signUpDialogWidth) * 0.8);
    height: fit-content;    

    /* Set margins for everything inside signUpFormDiv */
    margin-left: calc(var(--signUpDialogWidth) * 0.10); 
    margin-right: calc(var(--signUpDialogWidth) * 0.10);
}

#signUpFormDiv p{
    /* Bottom separator from indication text */    
    margin-bottom: 20px;

    /* Text configuration */        
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.5px;
    color: rgb(95, 91, 91);
}

#signUpFormDiv .signUpForm{   
    /* Size constraints */ 
    width: 100%;
    height: fit-content;    

    /* Bottom separator from signUpForm */    
    margin-bottom: 10px;        
}

.signUpForm .inputsDiv{
    /* Size constraints */
    width: 100%;
    height: 320px;

    /* Limit constraints */
    margin: 0px;
    padding: 0px;
    
    /* Use flexbox to separate lineEdit inputs */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Bottom separator from inputsDiv */    
    margin-bottom: 20px;
}

.signUpForm .inputsDiv div{
    /* Make sure there are no limit constraints */
    margin: 0px;
    padding: 0px;
}

#signUpName, #signUpLastName, #selectCountry, #signUpEmail, #signUpPwd, #signUpConfPwd{
    /* Height constraint */
    height: 20px;
    width: 100%;

    /* Text configuration */
    text-indent: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;

    /* Remove outline */
    outline: none;

    /* Configure border  */
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#signUpName:focus, #signUpLastName:focus, #selectCountry:focus, #signUpEmail:focus, #signUpPwd:focus, #signUpConfPwd:focus{
    /* Configure outline when focus */
    border-bottom: 1px solid rgb(0, 0, 0);
}

/* Change the white to any color */
.signUpForm input:-webkit-autofill,
.signUpForm input:-webkit-autofill:hover,
.signUpForm input:-webkit-autofill:focus,
.signUpForm input:-webkit-autofill:active,
.signUpForm select:-webkit-autofill,
.signUpForm select:-webkit-autofill:hover,
.signUpForm select:-webkit-autofill:focus,
.signUpForm select:-webkit-autofill:active{
    /* Force white background when select cached option */
    -webkit-box-shadow: 0 0 0 30px white inset !important;

    /* Text configuration */
    text-indent: 5px;
    font-family: 'Lato', sans-serif !important;
    font-size: 1.3em;
}

#signUpTerms{
    /* Set size constraints */
    width: fit-content;

    /* Set limit constraints  */
    margin: 0px;
    padding: 0px;
    margin-left: 6px;

    /* Remove border */
    border: none;
}

#signUpTermsText, #signUpTermsLink{
    /* Define size and limit constraints  */
    margin: 0px;
    padding: 0px;
    width: fit-content;

    /* Display text next to terms checkbox  */
    display: inline-block;

    /* Text configuration */
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
    white-space: pre;
}

#selectCountry{
    /* Remove default text indent and background that appears in select box */
    text-indent: 0px;
    background: none; 
}

#selectCountry option{
    /* Remove background color of each of the options */
    background: white;

    /* Text configuration */
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
}

.signUpErrorMsg{    
    /* Display span errors below inputs */
    display: block;

    /* Margin and text cfgs */
    margin-top: 3px;
    text-indent: 5px;

    /* Width to fit text */
    width: fit-content;  
    
    /* Text configuration */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    white-space: pre;
    color: red;

    /* Align to the left in flex box */
    /*align-self: flex-start;    */
}

#signUpBtn{
    /* Size constraints */
    height: 35px;
    width: 100%;

    /* Remove border */
    border-radius: 0px;
    border: none;

    /* Color and bottom margin (for better looking at scrolling) */
    background-color: rgb(47, 180, 80);
    margin-bottom: 25px;

    /* Text configuration */
    font-size: 0.9em;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
    color: #fff;

    /* Button is clickable */
    cursor: pointer;
}

.signUpForm .signInDiv{
    /* Use flexbox */
    display: flex;
    justify-content: center;    
}

.signInDiv p, span{
    /* Set width to fit */
    width: fit-content;

    /* Text configuration */
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8em;
    white-space: pre;

    /* Remove blue highlight on link when clicked */
    -webkit-tap-highlight-color: transparent;
}

/***************************************************************************/
/********************** CONFIRMATION EMAIL DIALOG **************************/
/***************************************************************************/

#confirmationEmailDialog{
    /* Size constraints*/
    width: var(--confirmationEmailDialogWidth);
    height: var(--confirmationEmailDialogHeight);

    /* Remove margin/padding */
    position: relative; 
    padding-bottom: calc(var(--confirmationEmailDialogHeight) * 0.10);

    /* Display mode */
    display: none;

    /* Border details */
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    /* Shadow.  x   y  blur radius of propagation, color. */
    box-shadow: 5px 5px 11px -3px rgba(14, 2, 2, 0.733);

    /* Background color */
    background-color: rgba(231, 252, 232, 1.0);
}

#confirmationEmailDialog #confirmationEmailSvg{
    /* Display mode */
    display: block;

    /* Position div */
    margin: auto;
    margin-top: calc(var(--confirmationEmailDialogHeight) * 0.127);
    margin-bottom: calc(var(--confirmationEmailDialogHeight) * 0.088);

    /* Size constraints */
    width: var(--confirmationEmailSvgSqSize);
    height: var(--confirmationEmailSvgSqSize);

    /* Set svg as background image */
    background-image: url("../../img/mail.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#confirmationEmailDialog #confirmationEmailCloseMarkSvg{
    /* Display mode */
    display: block;

    /* Position div */
    position: relative;
    left: calc(var(--confirmationEmailDialogWidth) - (var(--confirmationEmailCloseMarkSvgSqSize) * 2));
    top: calc(var(--confirmationEmailCloseMarkSvgSqSize));

    /* Size constraints */
    width: var(--confirmationEmailCloseMarkSvgSqSize);
    height: var(--confirmationEmailCloseMarkSvgSqSize);

    /* Set svg as background image */
    background-image: url("../../img/xmark-solid.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Element is clickable */
    cursor: pointer;
}

#confirmationEmailDialog .dialogText{
    /* Margin constraints */
    margin-top: calc(var(--confirmationEmailDialogHeight) * 0.063);
    margin-bottom: calc(var(--confirmationEmailDialogHeight) * 0.063);
    margin-left: calc(var(--confirmationEmailDialogWidth) * 0.1);
    margin-right: calc(var(--confirmationEmailDialogWidth) * 0.1);

    /* Text configuration */
    font-family: 'Lato', sans-serif; 
    text-align: center;
}

#confirmationEmailDialog hr{
    /* Margin constraints */
    margin: calc(var(--confirmationEmailDialogHeight) * 0.076);
}

#resendEmailText, #resendEmailLink{
    /* Define size and limit constraints  */
    margin: 0px;
    padding: 0px;
    width: fit-content;

    /* Display text next to terms checkbox  */
    display: inline-block;

    /* Text configuration */
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    white-space: pre;
    text-align: center;
}

#resendEmailContainer{
    /* Display mode  */
    display: block;

    /* Align content */
    text-align: center;
}

/***************************************************************************/
/**************** PRIVACY POLICY AND TERMS&CONDITIONS DIALOG ***************/
/***************************************************************************/

.signUpScrollableDiv #privacyTermsDialog{
    /* Display mode */
    display: none;
    
    /* Size constraints*/
    width: var(--privacyTermsDialogWidth);
    height: var(--privacyTermsDialogHeight);

    /* Remove margin/padding */
    position: relative;
    padding: 0px; 

    /* Border details */
    border: 1px solid rgba(0, 0, 0, 0.5);

    /* Shadow.  x   y  blur radius of propagation, color. */
    box-shadow: 5px 5px 11px -3px rgba(14, 2, 2, 0.733);

    /* Background color */
    background-color: rgba(255, 255, 255, 1.0);
}

#privacyTermsDialog #privacyTermsCloseMarkDiv{
    /* Display close mark next to dialog  */
    display: block;

    /* Position div */
    position: relative;
    left: calc(50% + (var(--privacyTermsDialogWidth) / 2) - var(--privacyTermsDialogCloseMarkSqSize) - (var(--privacyTermsDialogWidth) * 0.015));
    top: calc(var(--privacyTermsDialogHeight) * 0.003);

    /* Size constraints */
    width: var(--privacyTermsDialogCloseMarkSqSize);
    height: var(--privacyTermsDialogCloseMarkSqSize);

    /* Set svg as background image */
    background-image: url("../../img/square-xmark-solid.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Div is clickable */
    cursor: pointer;
}

#privacyTermsDialog hr:nth-of-type(1){
    /* Size constraints */
    width: 90%;

    /* Center hr line and apply top/bottom margins */
    margin: auto;
    margin-top: calc((var(--privacyTermsDialogHeight) * 0.00975) + var(--privacyTermsDialogCloseMarkSqSize) - var(--privacyTermsDialogCloseMarkSqSize));
    margin-bottom: calc(var(--privacyTermsDialogHeight) * 0.012);
}

#privacyTermsDialog #privacyTermsBlock{
    /* Display mode */
    display: flex;
    flex-direction: column;

    /* Remove margins */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: calc(var(--privacyTermsDialogWidth) * 0.05);
    margin-right: calc(var(--privacyTermsDialogWidth) * 0.05);

    /* Set size constraints */
    width: calc(var(--privacyTermsDialogWidth) * 0.9);
    height: var(--privacyTermsBlockHeight);
}

#privacyTermsBlock #privacyTermsDescription{
    /* Size constraints */
    width: 100%;
    height: fit-content;

    /* Let the description block to expand in all available space */
    flex-grow: 1;
}

#privacyTermsBlock #privacyTermsCloseButton{
    /* Size constraints */
    width: var(--privacyTermsCloseButtonWidth);
    height: var(--privacyTermsCloseButtonHeight);

    /* Display cfg and position */
    display: block;

    /* Position div */
    position: relative;
    left: calc(50% + (var(--privacyTermsDialogWidth) / 2) - var(--privacyTermsCloseButtonWidth) - 
                     (var(--privacyTermsDialogWidth) * 0.050));
    bottom: 0px;

    /* Remove border */
    border-radius: 0px;
    border: none;

    /* Color */
    background-color: rgb(47, 180, 80);

    /* Text configuration */
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
    font-family: 'PT Sans', sans-serif;
    color: #fff;

    /* Button is clickable */
    cursor: pointer;
}

#privacyTermsBlock hr:nth-of-type(1){
    /* Size constraints */
    width: 100%;

    /* Center hr line and apply top/bottom margins */
    margin: auto;
    margin-top: calc(var(--privacyTermsDialogHeight) * 0.008);
    margin-bottom: calc(var(--privacyTermsDialogHeight) * 0.020);
}


/***************************************************************************/
/***************************************************************************/
/************************* GENERAL PURPOSE PAGE ****************************/
/***************************************************************************/
/***************************************************************************/

.recoverPasswordPage{
    /* Position constraints */
    top: 0%;
    left: 0%;
    position: fixed;

    /* Size constraints */
    width: 100%;
    height: 100%;

    /* Display on top of recoverPasswordPage */
    z-index: 1;

    /* Blur the recoverPasswordPage background */
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    background-size: cover;

    /* Disable page for now until requested */
    overflow: hidden;
    display: none;
}

.recoverPasswordPageScrollableDiv{
    /* Position constraint */
    top: 0px;
    left: 0px;
    position: absolute;

    /* Size constraint */
    width: 100%;
    height: 100%;
    
    /* This div is a placeholder to allow scrolling without making the address bar
     * to be hidden in mobile devices an impacting the user interface appearance */
    background: transparent;

    /* Scrollable item */
    overflow: auto;
}

.recoverPasswordPageScrollableDiv .recoverPasswordPageVerticalSpacer{
    /* Use vertical spacers to vertically center the signUpDialog */
    min-height: var(--verticalSpacerMinHeight);
    width: 100%;

    /* Display mode  */
    display: block;
}

/***************************************************************************/
/************************ FORGOT PASSWORD DIALOG ***************************/
/***************************************************************************/

#forgotPwdDialog{
    /* Size constraints*/
    width: var(--forgotPwdDialogWidth);
    min-height: var(--forgotPwdDialogHeight);
    max-height: var(--forgotPwdDialogHeight);
    box-sizing: border-box;
     
    /* Internal margin */
    padding-top: calc(var(--forgotPwdDialogHeight) * 0.033);

    /* Display mode */
    display: none;
    position: relative;

    /* Border details */
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    /* Shadow.  x   y  blur radius of propagation, color. */
    box-shadow: 5px 5px 11px -3px rgba(14, 2, 2, 0.733);

    /* Background color */
    background-color: rgba(255, 255, 255, 1.0);
}

#forgotPwdDialogCloseMarkSvg{    
    /* Position div */
    margin-left: calc(var(--forgotPwdDialogHeight) * 0.026);

    /* Size constraints */
    width: var(--forgotPwdDialogCloseMarkSvgSqSize);
    height: var(--forgotPwdDialogCloseMarkSvgSqSize);

    /* Set svg as background image */
    background-image: url("../../img/chevron-left-solid.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Element is clickable */
    cursor: pointer;
}

#bodyHeaderText{
    /* Margin constraints */
    margin-top: calc(var(--forgotPwdDialogHeight) * 0.02);

    /* Text configuration */
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#forgotPwdDialogIcon{
    /* Display mode */
    display: block;

    /* Position div */
    margin: auto;
    margin-top: calc(var(--forgotPwdDialogHeight) * 0.046);
    margin-bottom: calc(var(--forgotPwdDialogHeight) * 0.046);

    /* Size constraints */
    width: var(--forgotPwdDialogIconSqSize);
    height: var(--forgotPwdDialogIconSqSize);

    /* Set svg as background image */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#forgotPwdDlgBodyContainer{
    /* Size constraints */
    width: calc(var(--forgotPwdDialogWidth) * 0.8);
    height: calc(var(--forgotPwdDialogHeight) * 0.29);

    /* Margin constraints */
    margin: auto;
    margin-left: calc(var(--forgotPwdDialogWidth) * 0.1);
    margin-right: calc(var(--forgotPwdDialogWidth) * 0.1);
    margin-top: 0px;

    /* Expand container as much as possible in available space */
    flex-grow: 1;
}

#forgotPwdDlgBodyContainer p{
    /* Margin constraints */
    margin-left: calc(var(--forgotPwdDialogWidth) * 0.07);
    margin-right: calc(var(--forgotPwdDialogWidth) * 0.07);

    /* Text configuration */
    text-align: center;
    font-size: 0.9em;
    line-height: 1.8em;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}

#forgotPwdDlgBodyContainer #forgotPwdDialogForm{
    /* Margin constraints */
    margin-top: calc(var(--forgotPwdDialogHeight) * 0.086);
    margin-bottom: calc(var(--forgotPwdDialogHeight) * 0.053);

    /* Size contraints */
    width: 100%;
    height: 100%;

    /* Display mode */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#forgotPwdDialogForm #forgotPwdInputSpan{
    /* Display mode */
    display: block;

    /* Margin constraints */
    margin-bottom: calc(var(--forgotPwdDialogHeight) * 0.013);

    /* Text configuration */
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
    color: rgb(155, 155, 155);
}

#forgotPwdDialogForm #forgotPwdEmail{
    /* Display mode */
    display: block;

    /* Margin and Size contraints */
    width: 100%;
    height: 2.0em;
    margin-bottom: calc(var(--forgotPwdDialogHeight) * 0.007);

    /* Text configuration */
    font-size: 0.8em;
    text-indent: 5px;
    font-family: 'Lato', sans-serif;

    /* Configure border */
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#forgotPwdDialogForm #forgotPwdErrorMsg{
    /* Display span errors below inputs */
    display: block;

    /* Margin and text cfgs */
    margin-top: 3px;
    text-indent: 5px;

    /* Width to fit text */
    width: fit-content;

    /* Text configuration */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    white-space: pre;
    color: red;
    
    /* Align to the left in flex box */
    /*align-self: flex-start;    */
}

#forgotPwdDialogForm #forgotPwdDialogFormSubmitBtn{
    /* Margin constraints */
    width: 100%;
    height: calc(var(--forgotPwdDialogHeight) * 0.053);

    /* Display mode */
    display: block;

    /* Center element */
    margin: auto;
    margin-bottom: 0px;

    /* Border configuration */
    border: none;

    /* Color and bottom margin (for better looking at scrolling) */
    background-color: rgb(47, 180, 80);

    /* Text configuration */
    font-size: 0.9em;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
    color: #fff;

    /* Button is clickable */
    cursor: pointer;
}

/***************************************************************************/
/************************* VERIFY EMAIL DIALOG *****************************/
/***************************************************************************/

#verifyEmailDialog{
    /* Size constraints*/
    width: var(--verifyEmailDialogWidth);
    min-height: var(--verifyEmailDialogHeight);
    max-height: var(--verifyEmailDialogHeight);
    box-sizing: border-box;

    /* Internal margin */
    padding-top: calc(var(--forgotPwdDialogHeight) * 0.033);

    /* Display mode */
    display: none;
    position: relative; 

    /* Border details */
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    /* Shadow.  x   y  blur radius of propagation, color. */
    box-shadow: 5px 5px 11px -3px rgba(14, 2, 2, 0.733);

    /* Background color */
    background-color: rgba(255, 255, 255, 1.0);
}

#verifyEmailDialogCloseMarkSvg{
    /* Position div */
    margin-left: calc(var(--verifyEmailDialogHeight) * 0.026);

    /* Size constraints */
    width: var(--verifyEmailDialogCloseMarkSvgSqSize);
    height: var(--verifyEmailDialogCloseMarkSvgSqSize);

    /* Set svg as background image */
    background-image: url("../../img/chevron-left-solid.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Element is clickable */
    cursor: pointer;
}

#bodyContainer{
    /* Size constraints */
    width: calc(var(--verifyEmailDialogWidth) * 0.8);

    /* Margin constraints */
    margin: auto;
    margin-left: calc(var(--verifyEmailDialogWidth) * 0.1);
    margin-right: calc(var(--verifyEmailDialogWidth) * 0.1);
    margin-top: 0px;

    /* Expand container as much as possible in available space */
    flex-grow: 1;
}

#bodyContainer p{
    /* Margin constraints */
    margin-left: calc(var(--verifyEmailDialogWidth) * 0.07);
    margin-right: calc(var(--verifyEmailDialogWidth) * 0.07);

    /* Text configuration */
    text-align: center;
    font-size: 0.9em;
    line-height: 1.8em;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}


#bodyContainer #verifyEmailDialogForm{
    /* Margin constraints */
    margin-top: calc(var(--verifyEmailDialogHeight) * 0.073);
    margin-bottom: calc(var(--verifyEmailDialogHeight) * 0.053);

    /* Size contraints */
    width: 100%;
    height: calc(var(--verifyEmailDialogHeight) * 0.30);

    /* Display mode */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#verifyEmailDialogForm div{
    /* Margin */
    margin: auto;
    margin-top: 0px; 
    margin-left: calc(var(--verifyEmailDialogWidth) * 0.08);
    margin-right: calc(var(--verifyEmailDialogWidth) * 0.08);
    margin-bottom: 0px;

    /* Display mode */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#verifyEmailDialogForm input.code-input {
    /* Size constraints */
    width: 1.8em;
    height: calc(var(--verifyEmailDialogHeight) * 0.066);

    /* Margin constraints */
    margin-top: 0px;

    /* No outline */
    outline: none;

    /* Text configuration */
    font-size: 1.5em;
    text-align: center;

    /* Configure border  */
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
 
    /* Color */
    background-color: rgba(14, 234, 100, 0.2);
}

#verifyEmailDialogForm input.code-input:focus {
    /* Border cfg */
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);

    /* Color */
    background-color: rgba(14, 234, 100, 0.5);
}

#verifyEmailDialogForm #verifyEmailErrorMsg{
    /* Display span errors below inputs */
    display: block;

    /* Margin and text cfgs */
    margin-top: 5px;
    margin-left: calc(var(--verifyEmailDialogWidth) * 0.08);
    margin-bottom: calc(var(--verifyEmailDialogHeight) * 0.066);

    /* Width to fit text */
    width: fit-content;

    /* Text configuration */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    white-space: pre;
    color: red;
}

#verifyEmailDialogForm #resendCode{
    /* Set width to fit */
    width: fit-content;

    /* Text configuration */
    font-size: 1.0em;
    white-space: pre;
    text-align: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px;
    color: rgb(95, 91, 91);

    /* Remove blue highlight on link when clicked */
    -webkit-tap-highlight-color: transparent;
}

#verifyEmailDialogForm #verifyEmailDialogFormSubmitBtn{
    /* Margin constraints */
    width: 100%;
    height: calc(var(--verifyEmailDialogHeight) * 0.053);

    /* Display mode */
    display: block; 

    /* Center element */
    margin: auto; 
    margin-bottom: 0px;

    /* Border configuration */
    border: none;

    /* Color and bottom margin (for better looking at scrolling) */
    background-color: rgb(47, 180, 80);

    /* Text configuration */
    font-size: 0.9em;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
    color: #fff;

    /* Button is clickable */
    cursor: pointer;
}

/***************************************************************************/
/********************** CREATE NEW PASSWORD DIALOG *************************/
/***************************************************************************/

#createNewPwdDialog{
    /* Size constraints*/
    width: var(--createNewPwdDialogWidth);
    min-height: var(--createNewPwdDialogHeight);
    max-height: var(--createNewPwdDialogHeight);
    box-sizing: border-box;

    /* Internal margin */
    padding-top: calc(var(--forgotPwdDialogHeight) * 0.033);

    /* Display mode */
    display: none;
    position: absolute;

    /* Border details */
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    /* Shadow.  x   y  blur radius of propagation, color. */
    box-shadow: 5px 5px 11px -3px rgba(14, 2, 2, 0.733);

    /* Background color */
    background-color: rgba(255, 255, 255, 1.0);
}

#createNewPwdDialogCloseMarkSvg{
    /* Position div */
    margin-left: calc(var(--createNewPwdDialogHeight) * 0.026);

    /* Size constraints */
    width: var(--createNewPwdDialogCloseMarkSvgSqSize);
    height: var(--createNewPwdDialogCloseMarkSvgSqSize);

    /* Set svg as background image */
    background-image: url("../../img/chevron-left-solid.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Element is clickable */
    cursor: pointer;
}

#bodyContainer #createNewPwdDialogForm{
    /* Margin constraints */
    margin-top: calc(var(--createNewPwdDialogHeight) * 0.00);
    margin-bottom: calc(var(--createNewPwdDialogHeight) * 0.053);

    /* Size contraints */
    width: 100%;
    height: calc(var(--createNewPwdDialogHeight) * 0.38);

    /* Display mode */
    display: flex;
    flex-direction: column;
}

#createNewPwdDialogForm #inputsDiv{
    /* Size constraints */
    width: 100%;
    height: fit-content;

    /* Limit constraints */
    margin: 0px;
    padding: 0px;

    /* Display mode */
    display: block;
    flex-grow: 1;
}

#createNewPwdDialogForm #createNewPwdInput{
    /* Display mode */
    display: block;

    /* Margin and Size contraints */
    width: 100%;
    height: 2.0em;
    margin-top: calc(var(--createNewPwdDialogHeight) * 0.04);
    margin-bottom: calc(var(--createNewPwdDialogHeight) * 0.0066);

    /* Text configuration */
    font-size: 0.8em;
    text-indent: 5px;
    font-family: 'Lato', sans-serif;

    /* Remove outline */
    outline: none;

    /* Configure border  */
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#createNewPwdDialogForm #confirmNewPwdInput{
    /* Display mode */
    display: block;

    /* Margin and Size contraints */
    width: 100%;
    height: 2.0em;
    margin-top: calc(var(--createNewPwdDialogHeight) * 0.013);
    margin-bottom: calc(var(--createNewPwdDialogHeight) * 0.00);

    /* Text configuration */
    font-size: 0.8em;
    text-indent: 5px;
    font-family: 'Lato', sans-serif;

    /* Remove outline */
    outline: none;

    /* Configure border  */
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.createNewPwdInput:focus{
    /* Configure outline when focus */
    border-bottom: 1px solid rgb(0, 0, 0);
}

#createNewPwdDialogForm .createNewPwdErrorMsg{
    /* Display span errors below inputs */
    display: block;

    /* Margin and text cfgs */
    margin-top: 3px;
    text-indent: 5px;

    /* Width to fit text */
    width: fit-content;

    /* Text configuration */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    white-space: pre;
    color: red;
}

#createNewPwdDialogForm #changePasswordDiv{
    /* Size constraints */
    width: 100%;
    height: fit-content;

    /* Margin constraints */
    margin: auto; 
    margin-top: calc(var(--createNewPwdDialogHeight) * 0.0066);
}

#changePasswordDiv #changePassword{
    /* Set width to fit */
    width: fit-content; 

    display: block;
    margin: auto;

    /* Text configuration */
    font-size: 0.8em;
    white-space: pre;
    
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px;
    color: rgb(95, 91, 91);

    /* Remove blue highlight on link when clicked */
    -webkit-tap-highlight-color: transparent;
}

#createNewPwdDialogForm #createNewPwdDialogFormSubmitBtn{
    /* Margin constraints */
    width: 100%;
    height: calc(var(--createNewPwdDialogHeight) * 0.053);

    /* Display mode */
    display: block;

    /* Center element */
    margin: auto;
    margin-top: calc(var(--createNewPwdDialogHeight) * 0.033);

    /* Border configuration */
    border: none;

    /* Color and bottom margin (for better looking at scrolling) */
    background-color: rgb(47, 180, 80);

    /* Text configuration */
    font-size: 0.9em;
    font-weight: 600;
    font-family: 'PT Sans', sans-serif;
    color: #fff;

    /* Button is clickable */
    cursor: pointer;
}

/***************************************************************************/
/***************************************************************************/
/*********************** MEDIA QUERY CONFIGURATIONS ************************/
/***************************************************************************/
/***************************************************************************/

/* SMARTPHONE / TABLET / REDUCED WIDTH ON BROWSER */
@media screen and (max-width: 600px), (max-aspect-ratio: 11/9){

    :root{
        /* Now we are on Mobile Portrait Mode */
        --onMobilePortraitMode: 1;

	    /* Update root css variables */
        --signUpDialogWidth: 100vw;
        --confirmationEmailDialogWidth: 100%;
        --privacyTermsDialogWidth: 100%;
        --forgotPwdDialogWidth: 100vw;
        --verifyEmailDialogWidth: 100vw;
        --createNewPwdDialogWidth: 100vw;
    }

    /***************************************************************************/
    /***************************** SIGN IN PAGE ********************************/
    /***************************************************************************/    

    .signInPage .signInImgDiv{
        display: none;
    }

    /***** SignIn Dialog *****/

    .signInPage .signInDialog{
        width: 100%;
    }
   
    /***** End SignIn Dialog *****/

    /***************************************************************************/
    /***************************** SIGN UP PAGE ********************************/
    /***************************************************************************/
    
    .signUpPage{
        /* No need to blur the background */
        background: transparent;
    }
    
    .signUpPage .signUpVerticalSpacer{
        /* Keep vertical spacers since it helps to vertical center
	 * the confirmationEmailDialog */
        display: none;
    }

    /***** SignUp Dialog *****/

    .signUpPage #signUpDialog{
        /* Size constraints */ 
	    height: calc(var(--signUpDialogHeight) + 100px);

	    /* Position dialog */
	    top: 15px;
	    left: 0px;

        /* No need for border details */
        border: none;
        box-shadow: none;
    }

    .signUpForm .inputsDiv{
	    /* Increase the height of form */
	    height: 360px;
	    width: 100%;
    }

    #signUpDialog .logoDiv img{
        /* Match logo size with signInDialog */
        width: calc(var(--signUpDialogWidth) * 0.70);
    }
    
    /***** End SignUp Dialog *****/

    /***** ConfirmationEmail Dialog *****/
   
    .signUpPage #confirmationEmailDialog{
	    /* Place dialog a bit down */
	    position: relative;
	    top: 10vh;
	    left: 0px;

        /* No need for border details */
        border: none;
	    border-radius: 0px;
        box-shadow: none;

	    /* No background color  */
	    background-color: white;
    }

    #confirmationEmailDialog #confirmationEmailCloseMarkSvg{
	    /* Position div */
	    left: calc(100% - (var(--confirmationEmailCloseMarkSvgSqSize) * 3));
	    top: calc(var(--confirmationEmailCloseMarkSvgSqSize));
    }

    /***** End ConfirmationEmail Dialog *****/

    /***** Privacy Policy and Terms&Conditions Dialog *****/

    .signUpPage #privacyTermsDialog{
	    /* Move dialog to left/upper corner */
	    top: 15px;
	    left: 0px;

        /* No need for border details */
        border: none;
        box-shadow: none;
    }

    #privacyTermsDialog #privacyTermsCloseMarkDiv{
	    /* Position div */
	    left: calc(100% - var(--privacyTermsDialogCloseMarkSqSize) - (var(--privacyTermsDialogWidth) * 0.02));
	    top: calc(var(--privacyTermsDialogHeight) * 0.002);
    }

    #privacyTermsBlock #privacyTermsCloseButton{
        /* Position div */
        left: calc(100% - var(--privacyTermsCloseButtonWidth) - (var(--privacyTermsDialogWidth) * 0.0));
    }

    /***** End Privacy Policy and Terms&Conditions Dialog *****/


    /***************************************************************************/
    /************************** GENERAL PURPOSE PAGE ***************************/
    /***************************************************************************/

    .recoverPasswordPage{
        /* No need to blur the background */
        background: transparent;
    }
    
    .recoverPasswordPage .recoverPasswordPageVerticalSpacer{
        /* No need of vertical spacers */
	    display: none;
    }

    /***** Forgot Pwd Dialog *****/

    #forgotPwdDialog{
	    /* Move dialog to left/upper corner */
	    top: 15px;
	    left: 0px;

	    /* No need for border details */
	    border: none;
	    border-radius: 0px;
	    box-shadow: none;
    }

    /***** End Forgot Pwd Dialog *****/

    /***** Verify Email Dialog *****/

    #verifyEmailDialog{
        /* Move dialog to left/upper corner */
	    top: 15px;
        left: 0px;

        /* No need for border details */
        border: none;
	    border-radius: 0px;
        box-shadow: none;
    }

    #verifyEmailDialogForm div{
        /* Margin */
        margin-left: calc(var(--verifyEmailDialogWidth) * 0.08);
        margin-right: calc(var(--verifyEmailDialogWidth) * 0.08);
    }

    #verifyEmailDialogForm #verifyEmailDialogFormSubmitBtn{
        /* Margin constraints */
        width: 85%;
    }

    #verifyEmailDialog #bodyContainer p{
        /* Margin constraints */
        margin-left: calc(var(--verifyEmailDialogWidth) * 0.08);
        margin-right: calc(var(--verifyEmailDialogWidth) * 0.08);
    }

    /***** End Verify Email Dialog *****/

    /***** Create New Pwd Dialog *****/

    #createNewPwdDialog{
        /* Move dialog to left/upper corner */
	    top: 15px;
        left: 0px;

        /* No need for border details */
        border: none;
	    border-radius: 0px;
        box-shadow: none;
    }

    /***** End Create New Pwd Dialog *****/
}
